html, body {
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	background-color: #fafafa;
}

#app, .editor {
	height: 100%;
}

textarea, .result {
	display: inline-block;
	width: 49%;
	height: calc(100% - 3rem);
	vertical-align: top;
	box-sizing: border-box;
	padding: 0 20px;
}

.result {
	overflow: auto;
}

textarea {
	outline: none;
	resize: none;
	background-color: #000;
	color: #fff;
	font-family: monospace;
	padding: 20px;
	border: none;
}

.status {
	font-family: monospace;
	font-size: 12px;
	color: #555;
}

.main-page {
	margin: 0 auto;
	width: 40rem;
	max-width: 95%;
}

.cn-notes-list {
	list-style: none;
	padding: 0;
}

.cn-notes-list li {
	margin: 1rem 0;
}

.cn-note-list-link {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
}

.cn-delete-link, .cn-create-link, .cn-save-link {
	display: inline-block;
	border: 1px black solid;
	text-transform: uppercase;
	font-size: 8px;
	margin: 2px 4px 2px 0;
	padding: 2px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cn-create-input, .cn-create-link {
	font-size: 10px;
	padding: 2px;
	margin: 0 !important;
}

.cn-create-link-disabled {
	border-color: #888;
	color: #888;
	cursor: default;
}

.cn-editor-statusbar {
	height: 3rem;
	line-height: 3rem;
	background: black;
	color: #888;
	padding: 0 1rem;
}

.cn-statusbar-status-text {
	float: right;
}

.cn-statusbar-site-name {
	color: white;
	text-decoration: none;
	font-weight: bold;
	line-height: 3rem;
}

.cn-statusbar-view-toggle {
	float: right;
	color: white;
	border: 1px white solid;
	text-transform: uppercase;
	line-height: 1rem;
	font-size: 8px;
	margin: 0.7rem 0 0 1rem;
	padding: 4px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Landing */

.cn-landing-header {
	color: white;
	background: black;
	font-size: 3rem;
	min-height: 3m;
	padding: 10rem 0;
	text-align: center;
}

.cn-get-started-button {
	color: white;
	display: inline-block;
	border: 1px white solid;
	text-transform: uppercase;
	font-size: 1rem;
	margin: 3rem;
	padding: 4px;
	cursor: pointer;
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
